<html>
  <head>
    <title>User Registration Confirmation</title>
  </head>
  <body>
    <h1>Welcome to Lend A Hand System!</h1>

    <p>Dear <%= name %>,</p>

    <p>
      We are delighted to inform you that your registration to Lend A Hand
      System was successful.
    </p>

    <p>
      We are excited to have you onboard and look forward to your contributions.
    </p>

    <p>Best regards,</p>
    <p>The Lend A Hand Team</p>
  </body>
</html>
